.overlay__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }
  
  .overlay__container {
    background-color: rgba(172, 172, 172, 37);
    border-radius: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: 236px;
    height: 380px;
  }
  
  .overlay__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .overlay__close:after {
    display: inline-block;
    content: "\00d7";
  }
  
  .overlay__close {
    border: none;
    background-color: black;
    font-size: 15px;
    cursor: pointer;
  }

  .overlay__tarefa:after {
    display: inline-block;
    content: "Criar tarefa";
  }

  .overlay__tarefa {
    border: none;
    background-color: #90EE90;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .overlay__reuniao:after {
    display: inline-block;
    content: "Criar reunião";
  }

  .overlay__reuniao {
    border: none;
    background-color: #FFD2A5;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .overlay__evento:after {
    display: inline-block;
    content: "Criar evento";
  }

  .overlay__evento {
    border: none;
    background-color: #ABE3F3;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .overlay__anotacao:after {
    display: inline-block;
    content: "Criar anotação";
  }

  .overlay__anotacao {
    border: none;
    background-color: #FDFD96;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .overlay__alarme:after {
    display: inline-block;
    content: "Criar alarme";
  }

  .overlay__alarme {
    border: none;
    background-color: #FFBDB4;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .tarefa__container {
    background-color: #fffcf4;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: 236px;
    height: 650px;
  }

  .tarefa__control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .evento_reuniao__container {
    background-color: #fffcf4;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: 236px;
    height: 950px;
  }

  .evento_reuniao__control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .criar_tarefa:after {
    display: inline-block;
    content: "Criar tarefa";
  }

  .criar_tarefa {
    border-style:groove;
    border-color: #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .criar_reuniao:after {
    display: inline-block;
    content: "Criar reunião";
  }

  .criar_reuniao {
    border-style:groove;
    border-color: #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .criar_evento:after {
    display: inline-block;
    content: "Criar evento";
  }

  .criar_evento {
    border-style:groove;
    border-color: #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }

  .overlay__visualizar:after {
    display: inline-block;
    content: "Histórico";
  }

  .overlay__visualizar {
    border-style:groove;
    border-color: #000000;
    background-color: #d400ff;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
  }